parameters:
    level: max
    paths:
        - .
    checkMissingIterableValueType: false

    excludePaths:
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/src/ServiceContainer/*